Website -> home
<!-- structured data for search engine -->
<div hidden itemscope itemtype="http://schema.org/WebSite">
    <link itemprop="url" href="http://imresizer.com/"/>
    <span itemprop="description"> description </span>
</div>
<!-- structured data for search engine ends -->


product -> rotate, resize, crop, convert
<!-- structured data for search engine -->
<div hidden itemscope itemtype="http://schema.org/Product">
    <img itemprop="image" src="rotate.jpg" alt="rotate"/>
    <span itemprop="name">online image rotator</span>
    <span itemprop="description"> <?php echo $description; ?> </span>
</div>
<!-- structured data for search engine ends -->